

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!-- Footer-->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container px-4 px-lg-5 "><p class="m-0 text-center text-white">Copyright &copy; 2022-2 Capstone Design 5조</p></div>
</footer>
<style>
    footer{
    position:fixed;
     left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    }
</style>

</body>
</html>
