{{>layout/header}}
<br>
<style>

</style>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Call to Action-->
    <div class="card text-white bg-danger my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">피를 사고파는 매혈 행위는 불법으로 규정되어 있습니다. 헌혈에 대한 대가로 금품을 주고받을시, 법적 처벌 대상이 될 수 있습니다.</p></div>
    </div>
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-4" ><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.bloodinfo.net/file_util.do?action=image&siteid=bloodinfo&filepath=upload_image/18/1637540532518" width="95%%" height="95%" alt="..." /></div>
        <div class="col-lg-8">
            <h1 class="font-weight-light">반갑습니다!</h1>
            <p>
                보다 빠르게 지정헌혈자를 구하기 위한 플랫폼입니다.<br>
                지정헌혈 요청 글을 작성하시면 많은 헌혈자들이 볼 수 있습니다.
            </p>
            <a class="btn btn-dark" href="/posts/save">지정헌혈 요청 글 작성하기</a>
        </div>
    </div>

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">1. 헌혈 종류 확인</h2>
                    <p class="card-text"> 각 헌혈 종류마다 헌혈 가능한 나이, 채집량, 주기 등이 다르므로 수혈자가 전혈, 혈장, 혈소판, 혈장+혈소판 중 어떤 것을 원하는지 반드시 확인해야 합니다.   </p>
                </div>
                <div class="card-footer"><a class="btn btn-dark btn-sm" href="https://www.bloodinfo.net/bldprocess.do">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">2. 수혈자 등록번호</h2>
                    <p class="card-text"> 헌혈장소 방문시 수혈자 등록번호를 보여주어야 지정헌혈이 가능합니다. 수혈자 등록번호를 반드시 확인해주세요.</p>
                </div>
                <div class="card-footer"><a class="btn btn-dark btn-sm" href="https://www.bloodnet.or.kr/%ED%97%8C%ED%98%88%EC%B0%B8%EC%97%AC/%EC%A7%80%EC%A0%95%ED%97%8C%ED%98%88-%EB%B3%91%EC%9B%90/">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">3. 헌혈의집 확인</h2>
                    <p class="card-text"> 수혈자 등록번호와 신분증 지참 후 가장 가까운 헌혈 장소에서 지정헌혈이 가능합니다. 주변의 헌혈 장소를 확인해보세요.</p>
                </div>
                <div class="card-footer"><a class="btn btn-dark btn-sm" href="https://www.bloodinfo.net/blood_house.do">More Info</a></div>
            </div>
        </div>
    </div>
</div>
    목록 출력 영역
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종 수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a> </td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}

