{{>layout/header}}
<br>
<br>
<div>
    <div class="container px-5">
        <h2><a href="https://www.redcross.or.kr/main/main.do"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">대한 적십자사</a></h2>
        <h2><a href="https://www.bloodnet.or.kr/"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">한마음 혈액원</a></h2>
        <h2><a href="http://www.rcy.org"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">청소년적십자</a></h2>
        <h2><a href="https://www.mohw.go.kr"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">보건복지부</a></h2>
        <h2><a href="http://www.mfds.go.kr"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">식품의약품안전처</a></h2>
        <h2><a href="http://www.nih.go.kr"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">국립보건연구원</a></h2>
        <h2><a href="http://www.soaam.or.kr"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">한국백혈병소아암협회</a></h2>
        <h2><a href="http://www.konos.go.kr"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">국립장기이식관리센터</a></h2>
        <h2><a href="/references/house"><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">전국 헌혈의집 정보 보기</a></h2>
        <br>
        <br>
        <h2><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">각국 적십자사</h2>
        <a href="http://www.rodekruis.nl">네덜란드적십자사</a><br>
        <a href="http://www.redcross.dk">덴마크적십자사</a><br>
        <a href="http://www.rotkreuz.de">독일적십자사</a><br>
        <a href="http://www.redcross.org">미국적십자사</a><br>
        <a href="http://www.redcross.se">스웨덴적십자사</a><br>
        <a href="http://www.redcross.ch">스위스적십자사</a><br>
        <a href="http://www.cruzroja.es">스페인적십자사</a><br>
        <a href="http://www.redcross.org.sg">싱가포르적십자사</a><br>
        <a href="http://www.redcross.org.uk">영국적십자사</a><br>
        <a href="http://www.cri.it">이탈리아적십자사</a><br>
        <a href="http://www.jrc.or.jp">일본적십자사</a><br>
        <a href="http://www.redcross.ca">캐나다적십자사</a><br>
        <a href="http://www.redcross.fi">폴란드적십자사</a><br>
        <a href="http://www.croix-rouge.fr">프랑스적십자사</a><br>
        <a href="http://www.redcross.fi">핀란드적십자사</a><br>
        <a href="http://www.redcross.org.au">호주적십자사</a><br>

    </div>
</div>
{{>layout/footer}}