{{>layout/header}}
<br>
<br>
<div>
    <p style="font-size:24px;">
        한마음 혈액원 https://www.bloodnet.or.kr/
        대한 적십자사 https://www.redcross.or.kr/main/main.do
    </p>
</div>
{{>layout/footer}}