{{>layout/header}}

<div class="container px-5">
    <br>
    <br>
    <div>
        <h2><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">헌혈이란?</h2>
        <p style="font-size:24px;">
            혈액 기증자가 혈액을 기증하는 것을 의미합니다.<br>
            전 세계 일부 국가에서는 혈액을 돈으로 사고파는 매혈이 존재하고, 대한민국도 1980년까지 매혈을 하였으나 1981년 7월 1일 대한적십자사가 혈액관리업무를 전담하면서 매혈이 줄어들기 시작하였습니다.
            대한적십자사만이 독점하고 있는 체계에 문제점이 지적되어 현재 대한민국에선 대한적십자사와 한마음혈액원 두 곳에서 헌혈 사업을 진행하고 있습니다.
        </p>
        <h2><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">헌혈의 필요성?</h2>
        <p>
            1. 헌혈은 수혈이 필요한 환자의 생명을 구하는 유일한 수단입니다. 혈액은 아직 인공적으로 만들 수 있거나, 대체할 물질이 존재하지 않습니다.<br>
            2. 생명을 사고 팔 수 없다는 인류 공통의 윤리에 기반하여, 세계 각국은 혈액의 상업적 유통을 법으로 규제하고 있습니다.<br>
            3. 헌혈한 혈액은 장기간 보관이 불가능합니다.(농축적혈구 35일, 혈소판 5일) 따라서 적정 혈액보유량인 5일분을 유지하기 위해 헌혈자분들의 지속적이고 꾸준한 헌혈이 필요합니다.<br>
            4. 우리나라는 수혈용혈액의 경우 자급자족하고 있지만, 의약품의 원재료가 되는 혈장성분의 경우 외국으로부터 수입을 하고 있습니다.<br>
            5. 외국으로부터 수입하지 않고 혈액을 자급자족하기 위해서는 연간 약 300만명의 헌혈자가 헌혈에 참여해야 합니다.<br>
            6. 우리는 언제 수혈을 받을 상황에 처할지 모릅니다. 건강할 때 헌혈하는 것은 자신과 사랑하는 가족을 위하여, 더 나아가 모두를 위한 사랑의 실천입니다.<br>

        </p>
    </div>
    <h2><img src="http://bansukamen.com/cp/wp-content/uploads/2014/09/unnamed.png" width="50px" height="50px">헌혈 정보 영상</h2>
    <iframe width="850" height="500" src="https://www.youtube.com/embed/oAT6LznYZGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{>layout/footer}}